@model IEnumerable<fitnessCenter.web.Models.Service>

@{
    ViewData["Title"] = "Hizmetler";
    var isTrainer = User.IsInRole("Trainer");
}

<h1>Hizmetler</h1>

@if (isTrainer)
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Yeni Hizmet Ekle</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SureDakika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucret)
            </th>

            @* Sadece trainer için işlem sütunu *@
            @if (isTrainer)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SureDakika)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ucret)
                </td>

                @if (isTrainer)
                {
                    <td>
                        <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
